#app.selector {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 10vw;
}
#app.selector h1 {
  width: 80vw;
  text-align: center;
  margin-bottom: 30px;
  color: #fff;
}

#app.selector button {
  background-color: transparent;
  color: #fff;
  border-radius: 10px;
  padding: 10px;
  padding-top: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 0px;
  border: none;
}

#app.selector button:hover {
  background-color: #fff2;
}

#app.selector button img {
  height: 96px;
}
